<h4>Hello this is the index page</h4>
<h1>Locations</h1>
<ul>
			<%	@locations.each do |location| %>
	<li>
			<% if location.name.present? %>
			<%= location.name %> 
			<% end %>
		<p>	<%= location.email %></p>
			<p><%= location.zip %></p>
	</li>
			<% end %>
</ul>